@import "style/mixins";
@import "style/variables";

body {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 12px;
    font-family: 'Open Sans', sans-serif;
}

header {
    text-align: center;
    margin-bottom: 48px;
    padding-bottom: 12px;
    border-bottom: 1px solid $brandColor;
    .logo {
        max-width: 320px;
        height: auto;
        width: 100%;
    }
}

h1, h3 {
    color: $brandColor;
    font-weight: bold;
}

form {
    width: 100%;
    margin: auto;
    @media(min-width: $smallViewPort) {
        width: 90%;
    }
    .form-element {
        width: 100%;
    }
    .terms-confirmation {
        margin: 24px 0;
        font-size: 10px;
        line-height: 20px;
    }
}

.toast{
    color: white;
    font-weight: bold;
    font-size: 16px;
    border-radius: 4px;
    &.error {
        background: #D8000C;
    }
    &.success{ 
        background: #4F8A10;
    }
}

.map-view {
    height: 0;
    overflow: hidden;
    -webkit-transition: height .3s;
    transition: height .3s;
    margin-bottom: 12px;
    display: block;
    max-height: 50vh;
}
//overweire angular material

md-toast .md-toast-content{
    background-color: transparent;
    box-shadow: none;
}